HOST_UID=1000
DATABASE_IP=172.17.0.1
GRPC_SERVER_IP=172.17.0.1
APP_SECRET=837w5oDibcYkOzmSA1O0R671
APP_ENV=dev
GRPC_URL=http://auto-notes-server.lan:8080
DATABASE_URL=mysql://auto_notes:pa%24%24w0rd@database.lan:3306/auto_notes_telebot
MAIN_DATABASE_URL=mysql://auto_notes:pa%24%24w0rd@database.lan:3306/auto_notes

BOT_TOKEN=5999333444:X7Q0apc8T5gqZBhxrzWLw6p0F5rqzs2HDPA
BOT_ADMIN_ID=123123123
BOT_WEBHOOK_TOKEN=I4jdcCP8VOyII0
BOT_DRY_RUN=true

S3_REGION=us-west-2
S3_BACKET=arisha
S3_ENDPOINT=s3.us-west-2.amazonaws.com
S3_ACCESS_KEY=5af5dd4b200c37587bf3198b981186f5
S3_SECRET=d9abfc715b7787b9c91f18bc76c7de62
