.env
/vendor
/var/cache/*
/var/log/*
!var/cache/.gitkeep
!var/log/.gitkeep
/var/temp/*
!var/temp/.gitkeep
.php-cs-fixer.cache
bin/protoc-gen-twirp_php
/docker/nginx/fullchain.pem
/docker/nginx/privkey.pem
.phpunit.cache
/bin/*
!/bin/console
/node_modules
/web/assets/css/telebot.css
