includes:
    - vendor/phpstan/phpstan-doctrine/extension.neon
    - vendor/phpstan/phpstan-doctrine/rules.neon

parameters:
    level: 6
    paths:
        - web/
        - src/
        - tests/
    doctrine:
        objectManagerLoader: tests/object-manager.php
