{% extends 'errors/base_error.html.twig' %}

{% block title %}504 Таймаут{% endblock %}

{% block error_body %}
    <div class="error-header">
        <h1>5<span>&#x1F914;</span>4</h1>
    </div>
    <p>Что-то пошло не так, сервер очень сильно призадумался...</p>
    <a href="/">На главную</a>
{% endblock %}
