{% extends 'errors/base_error.html.twig' %}

{% block title %}404 Страница не найдена{% endblock %}

{% block error_body %}
    <div class="error-header">
        <h1>4<span>&#x1F610;</span>4</h1>
    </div>
    <p>Похоже, страница была удалена, переименована или её вообще никогда не существовало...</p>
    <a href="/">На главную</a>
{% endblock %}
