{% extends "base.html.twig" %}

{% block title %}Редактирование настроек | Автоблокнот{% endblock %}

{% block headerline %}Редактирование настроек{% endblock %}

{% block body %}
    <p>
        Edit.
    </p>
    {{ form(form) }}
{% endblock %}
