<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8"/>
    <title>{% block title %}{% endblock %}</title>
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/site.webmanifest">
    <link rel="stylesheet" href="/assets/css/style.css">
</head>
<body>
<header>
    <h1>Автоблокнот</h1>
    <nav>
        <div>Навигация:
            <ul>
                <li>
                    <a href="/">&#x1F3E0;</a>
                </li>
                <li>
                    <a href="{{ path('telebot_index_dashboard') }}">&#x2699;&#xFE0F;</a>
                </li>
            </ul>
        </div>
    </nav>
</header>
<main>
    <h1></h1>
    <div>
        {% block body %}{% endblock %}
    </div>
</main>
<footer>
    <p>{{ footer_date() }} &#x1F310; <a href="https://xelbot.com" rel="author">Alexander Kharchenko</a></p>
</footer>
</body>
</html>
