<p>Разделы:</p>
<nav>
    <ul>
        <li>
            <a href="{{ path('fuel_list') }}" title="Топливо">&#x26FD;</a>
        </li>
        <li>
            <a href="{{ path('order_list') }}" title="Заказы">&#x1F9FE;</a>
        </li>
        <li>
            <a href="/" title="СТО/Работа">&#x1F527;</a>
        </li>
        <li>
            <a href="{{ path('expense_list') }}" title="Расходы">&#x1FA99;</a>
        </li>
        <li>
            <a href="/" title="Пробег">&#x1F6E3;&#xFE0F;</a>
        </li>
    </ul>
</nav>
