{% extends "base.html.twig" %}

{% block title %}Вход | Автоблокнот{% endblock %}

{% block headerline %}Вход{% endblock %}

{% block body %}
<form method="post" class="pure-form pure-form-stacked">
    {% if error %}
    <div class="alert alert-danger">
        {{ error.messageKey|trans(error.messageData, 'security') }}
    </div>
    {% endif %}
    <fieldset>
       <input type="hidden" name="_csrf_token"
              value="{{ csrf_token('authenticate') }}">
       <input type="text"
              name="_username"
              value="{{ last_username }}"
              placeholder="username">
       <input type="password"
              name="_password"
              placeholder="password">
       <button class="pure-button"
              type="submit">login</button>
    </fieldset>
</form>
{% endblock %}
